DB_URL=DB_URL
REDIS_URL=REDIS_URL

SECRET_KEY_ACCESS=SECRET_KEY_ACCESS
SECRET_KEY_REFRESH=SECRET_KEY_REFRESH
JWT_SIGNING_ALGORITHM=JWT_SIGNING_ALGORITHM
LOGIN_TIME_DAYS=LOGIN_TIME_DAYS

EMAIL_HOST=EMAIL_HOST
EMAIL_PORT=EMAIL_PORT
EMAIL_HOST_USER=EMAIL_HOST_USER
EMAIL_HOST_PASSWORD=EMAIL_HOST_PASSWORD
EMAIL_USE_TLS=EMAIL_USE_TLS
MAILHOG_API_PORT=MAILHOG_API_PORT

FRONTEND_URL=FRONTEND_URL

STRIPE_SECRET_KEY=STRIPE_SECRET_KEY
STRIPE_WEBHOOK_SECRET=STRIPE_WEBHOOK_SECRET

S3_STORAGE_HOST=S3_STORAGE_HOST
S3_STORAGE_PORT=S3_STORAGE_PORT
S3_STORAGE_ACCESS_KEY=S3_STORAGE_ACCESS_KEY
S3_STORAGE_SECRET_KEY=S3_STORAGE_SECRET_KEY
S3_BUCKET_NAME=S3_BUCKET_NAME
